<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291609600948-duvu2heabc01uu8afb8n3d0ricsa50cu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291609600948-duvu2heabc01uu8afb8n3d0ricsa50cu</string>
	<key>API_KEY</key>
	<string>AIzaSyDFjGhfcmBFIygFI4xo3B_GUy6Uz_7SKNg</string>
	<key>GCM_SENDER_ID</key>
	<string>291609600948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-0-sBaby.Pointuin</string>
	<key>PROJECT_ID</key>
	<string>pointuin</string>
	<key>STORAGE_BUCKET</key>
	<string>pointuin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291609600948:ios:62a728c05f2b26921b48e1</string>
</dict>
</plist>